.MainBox{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

 font-weight: 700;
 font-size: 20px;
 color: rgb(83, 83, 83);



}


.MainBox > div {
    margin: 5px;
}

.MainBox > div >div {
    margin: 2px;
}
.MainBoxInner {
    background-color: red;

   
}
.box1 {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 600px;
    justify-content: space-around;
}

.div {
    font-size: 20px;
    margin: 30px;
}
.userName{
    color: rgb(142, 72, 223);
}

.box2 {
    margin: 20px;
    padding: 20px;
}